*{ margin: 0; 
	padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: pink;
}

#title {
	font-size: 32px;
	line-height: 1.1em;
	font-family: spaceAge;
}

#main {
	
	
	font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

#one {
	margin: 50px auto;
	padding: 50px 50px 50px 50px;
	width: 60%;
    height: 25%;
    background-image: linear-gradient(to right, red , blue, yellow);	
    color: white;  
    
}

#two {
	margin: 50px auto;
	padding: 50px 50px 50px 50px;
	width: 60%;
	height: 25%;	
    
    background-image: linear-gradient(orange, purple, lightblue);
    display:none;
	position: relative;	
    color: white;    
}

button {
	font-family: spaceAge;
	font-size: 150%;
	padding: 4px 8px;
	cursor: pointer;
	color: white;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: -webkit-linear-gradient(top, #a3a3a3, #000);
	background: -moz-linear-gradient(top, #a3a3a3, #000);
	background: linear-gradient(top, #a3a3a3, #000);

	-webkit-box-shadow: 0px 5px 8px 3px rgba(255,255,255,0.3);
	-moz-box-shadow: 0px 5px 8px 3px rgba(255,255,255,0.3);
	box-shadow: 0px 5px 8px 3px rgba(255,255,255,0.3);
}
button:hover {
	background: -webkit-linear-gradient(top, #acc7a3, #506651);
	background: -moz-linear-gradient(top, #acc7a3, #506651);
	background: linear-gradient(top, #acc7a3, #506651);	
}

/*
#one1 {
    background: lightblue;
}
*/
/*
#main {
	
	padding: 50px 30px;
	
	position: relative;
	background: lightblue;
	font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left:120px;
}

*/
/*
@font-face {
    font-family: 'spaceAge';
    src: url('../fonts/space_age-webfont.eot');
    src: url('../fonts/space_age-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/space_age-webfont.woff') format('woff'),
         url('../fonts/space_age-webfont.ttf') format('truetype'),
         url('../fonts/space_age-webfont.svg#space_ageregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/